body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  background-color:white;
  margin:0;
}

h1 {
  margin:0; 
  color: rgba(44, 53, 172, 1);
  font-size:4em;
  font-weight:100;
}

.container {
  width: 200px;
  height: 200px;
  position: relative;
  perspective: 1000px;
  margin-left: auto;
  margin-right:auto;
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ( -100px );
  transition: transform 1s;
}

#cube figure {
  margin: 0;
  margin-top:8em;
  width: 196px;
  height: 196px;
  display: block;
  position: absolute;
  border: 2px solid black;
}

#cube .front  { 
  transform: rotateY(   0deg ) translateZ( 100px );
  background-color:red;
}
#cube .back   { 
  transform: rotateX( 180deg ) translateZ( 100px ); 
  background-color:red; 
}
#cube .right  { 
  transform: rotateY(  90deg ) translateZ( 100px ); 
  background-color:blue;   
}
#cube .left   { 
  transform: rotateY( -90deg ) translateZ( 100px ); 
  background-color:blue; 

}
#cube .top    {
  transform: rotateX(  90deg ) translateZ( 100px ); 
  background-color:white;   
}
#cube .bottom { 
  transform: rotateX( -90deg ) translateZ( 100px ); 
  background-color:white; 
}

/*#cube.show-front  { transform: translateZ( -100px ) rotateY(    0deg ); }
#cube.show-back   { transform: translateZ( -100px ) rotateX( -180deg ); }
#cube.show-right  { transform: translateZ( -100px ) rotateY(  -90deg ); }
#cube.show-left   { transform: translateZ( -100px ) rotateY(   90deg ); }
#cube.show-top    { transform: translateZ( -100px ) rotateX(  -90deg ); }
#cube.show-bottom { transform: translateZ( -100px ) rotateX(   90deg ); }*/

